@{
    ViewBag.Title = "刷卡机";
}

<h2>刷卡机</h2>
<table>
            <thead>
                <tr>
                    <th>名称</th>
                    <th>IP</th>
                    <th>机号</th>
                    <th>状态</th>
                    <th>位置</th>
                    <th>公司</th>
                </tr>
            </thead>
            <tbody id="posters">
                
            </tbody>
        </table>
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "http://172.18.50.156:8123/api/posters",
                type: 'GET',
                dataType: 'json',
                success: function (da) {
                    da.forEach(function (data) {
                        var link = "@Url.Action("PMM", "MReport", new { index = "-1" })";
                        link = link.replace("-1", data.dq_index) + '&loc=' + data.dq_location;
                        var x = data.dq_state === '正常' ? "</td><td>" : "</td><td style='color:red;'>"
                        $('#posters').append("<tr class='added'><td>"
                           + "<a href='" + link + "'>" + data.dq_name + "</a>" + x + data.dq_ip + x + data.dq_index +
                          x + data.dq_state + x + data.dq_location + x + data.dq_company
                +
                            "</td></tr>");
                    });
                },
                error: function () {
                    console.log('error');
                }
            });
        });
    </script>
}