@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="renderer" content="webkit">
    <title>食堂消费查询</title>
    <link href="~/Content/milligram.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/menu.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div>
            <div id="main" style="height: 3400px"></div>
        </div>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" style="color: blue">注销退出</a>
        }
        <div>
            <a><span>信息中心软件组版权所有　©@DateTime.Now.Year</span></a>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/echarts")
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('main'));
        var data = { DQ:[],DQTZ:[],FD:[]};
        $.ajax({
            url: "http://172.18.50.156:8123/api/Posters/?comp=%E4%B8%9C%E6%B1%BD",
            type: 'GET',
            dataType: 'json',
            success: function (da) {
                data.DQ = da;
                $.ajax({
                    url: "http://172.18.50.156:8123/api/Posters/?comp=%E4%B8%9C%E6%B1%BD%E6%8A%95%E8%B5%84",
                    type: 'GET',
                    dataType: 'json',
                    success: function (da) {
                        data.DQTZ = da;
                        $.ajax({
                            url: "http://172.18.50.156:8123/api/Posters/?comp=%E9%A3%8E%E7%94%B5",
                            type: 'GET',
                            dataType: 'json',
                            success: function (da) {
                                data.FD = da;
                                var dataindex = data.DQ.map(function (e) { return e.dq_ip; });
                                var option = {
                                    tooltip: {
                                        trigger: 'axis',
                                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                        }
                                    },
                                    legend: {
                                        data: ['东汽', '风电', '东汽投资']
                                    },
                                    toolbox: {
                                        show: false,
                                        feature: {
                                            mark: { show: true },
                                            dataView: { show: true, readOnly: false },
                                            magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
                                            restore: { show: true },
                                            saveAsImage: { show: true }
                                        }
                                    },
                                    calculable: true,
                                    xAxis: [
                                        {
                                            type: 'value'
                                        }
                                    ],
                                    yAxis: [
                                        {
                                            type: 'category',
                                            data: dataindex
                                        }
                                    ],
                                    series: [
                                        {
                                            name: '东汽',
                                            type: 'bar',
                                            stack: '总量',
                                            itemStyle: { normal: { label: { show: true, position: 'insideRight' } } },
                                            data: data.DQ.map(function(e){return e.dq_value;})
                                        },
                                        {
                                            name: '风电',
                                            type: 'bar',
                                            stack: '总量',
                                            itemStyle: { normal: { label: { show: true, position: 'insideRight' } } },
                                            data: data.FD.map(function (e) { return e.dq_value; })
                                        }
                                    ]
                                };
                                myChart.setOption(option);
                            },
                            error: function () {
                                console.log('error');
                            }
                        });
                    },
                    error: function () {
                        console.log('error');
                    }
                });
            },
            error: function () {
                console.log('error');
            }
        });
        
        
       
        
        
        // 为echarts对象加载数据 
       
    </script>
</body>
</html>
